ClusterName={{ cluster_name }}
SlurmctldHost=controller
AuthType=auth/munge
SlurmUser=root
MpiDefault=none
ProctrackType=proctrack/linuxproc
ReturnToService=1
SlurmctldPidFile=/var/run/slurmctld.pid
SlurmctldPort=6817
SlurmdPidFile=/var/run/slurmd.pid
SlurmdPort=6818
SlurmdSpoolDir=/var/spool/slurm/d
StateSaveLocation=/var/spool/slurmctld
SwitchType=switch/none
TaskPlugin=task/affinity
InactiveLimit=0
KillWait=30
MinJobAge=300
SlurmctldTimeout=120
SlurmdTimeout=300
Waittime=0
SchedulerType=sched/backfill
SelectType=select/cons_tres
SelectTypeParameters=CR_Core
AccountingStorageType=accounting_storage/none
JobCompType=jobcomp/none
JobAcctGatherFrequency=30
JobAcctGatherType=jobacct_gather/none
SlurmctldDebug=info
SlurmctldLogFile=/var/log/slurmctld.log
SlurmdDebug=info
SlurmdLogFile=/var/log/slurmd.log

# COMPUTE NODES
{% for i in range(1, (num_compute_nodes | int) + 1) %}
NodeName=compute{{ i }} CPUs=2 ThreadsPerCore=2 CoresPerSocket=1 SocketsPerBoard=1 State=UNKNOWN
{% endfor %}

PartitionName={{ partition_name }} Nodes=compute[1-{{ num_compute_nodes | int }}] Default=YES MaxTime=INFINITE State=UP
